<div class="panel panel-default weight-data">
  <div class="panel-heading">Исторические данные</div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Расчетный Вес</th>
        <th>Фактический Вес</th>
        <th>Комментарий</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="record in $ctrl.records | orderBy:'':true" ng-class="{'success': record.planned >= record.actual,
        'warning': record.planned < record.actual}">
        <td>{{ record.date|date:'shortDate' }}</td>
        <td>{{ record.planned|number: 2 }}</td>
        <td><span ng-if="record.actual">{{ record.actual|number:2 }}</span></td>
        <td>{{ record.note }}</td>
      </tr>
    </tbody>
  </table>
</div>
