@font-face {
  font-family: 'Roboto';
      src: url("../fonts/Roboto-Regular.ttf") /* TTF file for CSS3 browsers */
}

.settings-buttons {
  text-align: center;
}

body{
	font-family: 'Roboto';
}

.snap-drawer{
    padding: 0 20px;
}

.menu li{
    margin: 5px 0px;
}

.navbar-toggle.custom{
    float: left;
    display: block;
}

#snap-content{
    background-color: #222222;
}
